<div class="container">

  <div class="elemento">

      <div class="entradas">

        <div class="titulo">
          Login
        </div>

        <form class="form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput>
          </mat-form-field>

          <button mat-raised-button color="primary">Primary</button>
        </form>


      </div>

      <div class="enfeite">
        <p class="login-call">DEVPLACE</p>
      </div>
  </div>
</div>
